@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin 'daisyui' {
  themes: 'all';
}

* {
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --color-txt-primary: #1e2939;
  --color-txt-secondary: #737373;
}

@layer utilities {
  #triangle-topleft {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 90px solid #155dfc;
    border-right: 100px solid transparent;
  }

  #triangle-topright {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 100px solid #155dfc;
    border-left: 100px solid transparent;
  }

  #triangle-bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 100px solid #155dfc;
    border-right: 100px solid transparent;
  }

  #triangle-bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 100px solid #155dfc;
    border-left: 100px solid transparent;
  }

  /* Improved button */
  .btn-linear {
    @apply bg-linear-to-r from-indigo-500 via-indigo-600 to-purple-500;
  }

  .btn-linear:hover {
    @apply opacity-90;
  }

  .btn-linear:disabled {
    @apply cursor-not-allowed opacity-50;
  }

  .text-primary {
    color: var(--color-txt-primary);
  }

  .text-secondary {
    color: var(--color-txt-secondary);
  }

  .no_arrow {
    -webkit-appearance: none; /* Chrome, Safari, Opera */
    -moz-appearance: none; /* Firefox */
    appearance: none; /* Standard */
    background: transparent; /* Remove background */
    border: 1px solid #ccc;
    padding: 8px 12px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes scaleIn {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.25s ease-out;
  }

  .animate-scaleIn {
    animation: scaleIn 0.25s ease-out;
  }
}
