@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: 'Outfit', sans-serif;
}

@layer utilities {
  #triangle-topleft {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 90px solid #155dfc;
    border-right: 100px solid transparent;
  }

  #triangle-topright {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 100px solid #155dfc;
    border-left: 100px solid transparent;
  }

  #triangle-bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 100px solid #155dfc;
    border-right: 100px solid transparent;
  }

  #triangle-bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 100px solid #155dfc;
    border-left: 100px solid transparent;
  }

  /* Improved button */
  .btn-linear {
    @apply bg-linear-to-r from-indigo-500 via-indigo-600 to-purple-500;
  }

  .btn-linear:hover {
    @apply opacity-90;
  }

  .btn-linear:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}
